---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=999&currency=eur
    headers:
      Authorization:
      - Bearer sk_test_3vTwc9rshJvGH5rtaBv2Q76h00GOZHRerO
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-11-08'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "parameter_missing",
            "doc_url": "https://stripe.com/docs/error-codes/parameter-missing",
            "message": "Must provide source or customer.",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Sat, 25 May 2019 07:10:52 GMT
recorded_with: VCR 2.9.3
