---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=999&currency=eur&source=tok_1EfLAoIwl7Xn20sMC3YCod90
    headers:
      Authorization:
      - Bearer sk_test_3vTwc9rshJvGH5rtaBv2Q76h00GOZHRerO
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-11-08'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_1EfLApIwl7Xn20sMCtCMAq3U",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "type": "card_error"
          }
        }
  recorded_at: Wed, 29 May 2019 06:22:08 GMT
recorded_with: VCR 2.9.3
