---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=5&card[exp_year]=2020&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_3vTwc9rshJvGH5rtaBv2Q76h00GOZHRerO
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-11-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1EdWpOIwl7Xn20sMTfVnq6pq",
          "object": "token",
          "card": {
            "id": "card_1EdWpOIwl7Xn20sM7IldfWCs",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 5,
            "exp_year": 2020,
            "fingerprint": "migQb5HfqdQCrCJo",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "89.100.228.170",
          "created": 1558679070,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 24 May 2019 06:24:30 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=eur&source=tok_1EdWpOIwl7Xn20sMTfVnq6pq
    headers:
      Authorization:
      - Bearer sk_test_3vTwc9rshJvGH5rtaBv2Q76h00GOZHRerO
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-11-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1EdWpPIwl7Xn20sMf6w0xfOa",
          "object": "charge",
          "amount": 999,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_1EdWpPIwl7Xn20sMjb9PqWWE",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "captured": true,
          "created": 1558679071,
          "currency": "eur",
          "customer": null,
          "description": null,
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {
          },
          "invoice": null,
          "livemode": false,
          "metadata": {
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 44,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": null,
          "payment_method": "card_1EdWpOIwl7Xn20sM7IldfWCs",
          "payment_method_details": {
            "card": {
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "description": "Visa Classic",
              "exp_month": 5,
              "exp_year": 2020,
              "fingerprint": "migQb5HfqdQCrCJo",
              "funding": "credit",
              "last4": "4242",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/acct_1DioeoIwl7Xn20sM/ch_1EdWpPIwl7Xn20sMf6w0xfOa/rcpt_F7mOHjDFpNNEy6uc2McZgBcChp7m84m",
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1EdWpPIwl7Xn20sMf6w0xfOa/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1EdWpOIwl7Xn20sM7IldfWCs",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 5,
            "exp_year": 2020,
            "fingerprint": "migQb5HfqdQCrCJo",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Fri, 24 May 2019 06:24:31 GMT
recorded_with: VCR 2.9.3
