---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=5&card[exp_year]=2020&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_3vTwc9rshJvGH5rtaBv2Q76h00GOZHRerO
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-11-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1EdWpQIwl7Xn20sMbMJIAYxx",
          "object": "token",
          "card": {
            "id": "card_1EdWpQIwl7Xn20sMzOrbCKq7",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 5,
            "exp_year": 2020,
            "fingerprint": "6ZNyqLTKvJDsLy8X",
            "funding": "credit",
            "last4": "0002",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "89.100.228.170",
          "created": 1558679072,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 24 May 2019 06:24:32 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=300&currency=eur&source=tok_1EdWpQIwl7Xn20sMbMJIAYxx
    headers:
      Authorization:
      - Bearer sk_test_3vTwc9rshJvGH5rtaBv2Q76h00GOZHRerO
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-11-08'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_1EdWpRIwl7Xn20sMc5hwHeEk",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "type": "card_error"
          }
        }
  recorded_at: Fri, 24 May 2019 06:24:33 GMT
recorded_with: VCR 2.9.3
