!!! 5
%html(lang="en-US")
  %body
    %p
      ="Hi #{@password_request.user.full_name},"
    %p
      You have requested a new password. Please click on the link below to set a new password.
    %p
      = link_to 'click here to reset', password_request_url(@password_request)
