!!! 5
%html(lang="en-US")
  %body
    %p
      ="Hi #{@password_request.user.full_name},"
    %p
      You have requested a new password. Please click on the link below to set a new password.
    %p
      = link_to password_request_path(@password_request), password_request_path(@password_request)
